{% extends 'base.html' %}
{% block title %}Student List{% endblock %}

{% block body_block %}
 <div id="page-wrapper">
      <!--BEGIN TITLE & BREADCRUMB PAGE-->
             <div class="page-title-breadcrumb option-demo">
                <div class="page-header">
                <div class="page-title mrm">All Enrolled Students</div>
                </div>
                <hr>
                <ol class="breadcrumb page-breadcrumb">
                <li>
                <i class="fa fa-home"></i>
                <a href="{% url 'home' %}">Home</a>

                </ol>
                <div class="clearfix"> </div>
            </div>
<!--END TITLE & BREADCRUMB PAGE-->
    <div class="page-content">
        {% if request.GET.q %}



          {% endif %}
          {% if students.count > 0 %}
            <h2>Showing search results for "{{ request.GET.q }}"</h2><br>
           {% for student in students  %}
                 <div class="list-group">

                    <a href="{% url 'students:detail' pk=student.pk %}" class="list-group-item "><h4 class="list-group-item-heading">{{ student.name }}</h4>
                     <p class="list-group-item-text">Course Enrolled:{{ student.course_name }} ,  Student Age:{{ student.age }},   Student's Father Name:{{ student.father_name }}</p></a>
                </div>
           {% endfor %}

          {% endif %}




{% include "footer.html" %}
   </div>
        {% include "loadscript.html" %}

</div>


{% endblock %}
