{% extends 'base.html' %}
{% block title %}Student Payment Preview{% endblock %}

{% block body_block %}
 <div id="page-wrapper">
      <!--BEGIN TITLE & BREADCRUMB PAGE-->
             <div class="page-title-breadcrumb option-demo">
                <div class="page-header">
                <div class="page-title mrm">Student Payment Preview</div>
                </div>
                <hr>
                <ol class="breadcrumb page-breadcrumb">
                <li>
                <i class="fa fa-home"></i>
                <a href="{% url 'home' %}">Home</a>

                </ol>
                <div class="clearfix"> </div>
            </div>
<!--END TITLE & BREADCRUMB PAGE-->
    <div class="page-content">
            <div class="col-lg-12">
            <div class="content-panel">

            <h4 style="text-align: center; font-weight: bold">
                {{ student_payment_details.student }} Payment Preview:
            </h4>
            <section id ='no-more-tables'>
           

                        <table class="table table-bordered table-striped table-condensed cf">
                             <thead class='cf'>
                            <tr>
                                <th>Student Name</th>
                                <th>Course Enrolled</th>
                                <th>Paid Amount</th>
                                <th>Pay By</th>
                                <th>Payment Date</th>
                                <th>Next Payment Date</th>
                                <th>Update</th>
                                <th>Pdf file</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title='Student Name'>{{ student_payment_details.student }}</td>
                                    <td data-title='Course Enrolled'>{{student_payment_details.course_name}}</td>
                                    <td data-title='Paid Amount'>{{ student_payment_details.paid_amount }}</td>
                                    <td data-title='Pay By'>{{student_payment_details.fee_by}}</td>
                                    <td data-title='Payment Date'>{{ student_payment_details.payment_date }}</td>
                                    <td data-title='Next Payment Date'>{{ student_payment_details.next_payment_date}}</td>
                                    <td data-title='Update'><a class="btn btn-primary" href="{% url 'students:payment_update' pk=student_payment_details.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                    <td><a href="{% url 'students:display_pdf' pk=student_payment_details.pk %}" target="_blank">Pdf file</a></td>
                                    <!--  <td> Receipt.pdf</td>
                                  https://stackoverflow.com/questions/26805920/retrieve-related-objects-in-detailview-->
                                    <!--<td>{{object.course_name.monthly_fee}}</td>-->
                                </tr>
                            </tbody>
                        </table>




                  {% if is_paginated %}
                      <ul class="pagination pull-right">
                        {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                          {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                        </div>
                    </div>
               </div>
        </div>

{% include "footer.html" %}
     </div>
        {% include "loadscript.html" %}

</div>


{% endblock %}
