{% extends 'base.html' %}
{% block title %}Student Payment History{% endblock %}

{% block body_block %}
 <div id="page-wrapper">
      <!--BEGIN TITLE & BREADCRUMB PAGE-->
             <div class="page-title-breadcrumb option-demo">
                <div class="page-header">
                <div class="page-title mrm">Student Payment History</div>
                </div>
                <hr>
                <ol class="breadcrumb page-breadcrumb">
                <li>
                <i class="fa fa-home"></i>
                <a href="{% url 'home' %}">Home</a>

                </ol>
                <div class="clearfix"> </div>
            </div>
<!--END TITLE & BREADCRUMB PAGE-->
    <div class="page-content">
        <div class="row" >
        <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">

            <div class="panel panel-orange">
            <div class="panel-heading">
                Student lists
            </div>
             <div class="panel-body pan">

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Course Enrolled</th>
                                <th>Paid Amount</th>
                                <th>Payment Date</th>
                            </tr>
                            </thead>
                            <tbody>
                              {% for studentRecords in object_list %}
                                <tr>
                                    <td>{{ studentRecords.student }}</td>
                                    <td>{{studentRecords.course_name}}</td>
                                    <td>{{ studentRecords.paid_amount }}</td>
                                    <td>{{ studentRecords.payment_date }}</td>
                                </tr>
                               {% endfor %}
                            </tbody>
                        </table>



                  {% if is_paginated %}
                      <ul class="pagination pull-right">
                        {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                          {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                        </div>
                    </div>
               </div>
        </div>
     </div>
{% include "footer.html" %}
        {% include "loadscript.html" %}

</div>


{% endblock %}
