{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% block body_block %}
 <div id="page-wrapper">
<!--BEGIN TITLE & BREADCRUMB PAGE-->
             <div class="page-title-breadcrumb option-demo">
                <div class="page-header">
                <div class="page-title mrm">New Student</div>
                <div class="page-subtitle"> Add new student to the institute</div>
                </div>
                <hr>
                <ol class="breadcrumb page-breadcrumb">
                <li>
                <i class="fa fa-home"></i>
                <a href="{% url 'home' %}">Home</a>

                </ol>
                <div class="clearfix"> </div>
            </div>
<!--END TITLE & BREADCRUMB PAGE-->
 <div class="page-content">
     <div class="row">
         <div class=" col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
         <div class="panel panel-orange">
            <div class="panel-heading">
                Enroll New Student
            </div>
             <div class="panel-body pan">
               {% include "messages.html" %}
                <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-body pal">
                        {% bootstrap_form form %}

                          <div class="form-actions text-right pal">
                    <!--<button type="submit" class="save btn btn-default">Save</button>-->
                              <button type="submit" class=" save btn btn-primary">
                                                        Submit</button>
                        </div>
                </form>

             </div>
        </div>
        </div>
     </div>

</div>
{% include "footer.html" %}
        {% include "loadscript.html" %}
        </div>
{% endblock %}
