{% extends 'base.html' %}
{% block title %}Student List{% endblock %}

{% block body_block %}
 <div id="page-wrapper">
      <!--BEGIN TITLE & BREADCRUMB PAGE-->
             <div class="page-title-breadcrumb option-demo">
                <div class="page-header">
                <div class="page-title mrm">All Enrolled Students</div>
                </div>
                <hr>
                <ol class="breadcrumb page-breadcrumb">
                <li>
                <i class="fa fa-home"></i>
                <a href="{% url 'home' %}">Home</a>

                </ol>
                <div class="clearfix"> </div>
            </div>
<!--END TITLE & BREADCRUMB PAGE-->
    <div class="page-content">
        
        <div class="col-lg-12">
             {% if students_list %}
            <div class="content-panel">
            <h4 style="text-align: center; font-weight: bold">
                Student lists
            </h4>
                    <section id ='no-more-tables'>
                        <table class="table table-bordered table-striped table-condensed cf">
                            <thead class='cf'>
                            <tr>
                                <th>Student Name</th>
                                <th>Course Enrolled</th>
                                <th>Student Subject</th>
                                <th>Remark</th>
                                <th>Update Profile</th>
                                <th>Delete Student Record</th>
                            </tr>
                            </thead>
                            <tbody>
                              {% for student in students_list %}
                                <tr>
                                  {# {{student.course_name.all.0.name}}#}
                                    <td data-title='Student Name'><a href="{% url 'students:detail' pk=student.pk %}">{{ student.name }}</a></td>
                                    {# <td>{{student.course_name.all.0}}</td>#}
                                    <td data-title='Course Enrolled'>{{student.course_name}}</td>
                                    <td data-title='Student Subject'>{{ student.subject }}</td>
                                    <td data-title='Remark'>{{ student.remark }}</td>
                                    <td data-title='Update Profile'><a class="btn btn-primary" href="{% url 'students:student_edit' pk=student.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                    <td data-title='Delete Student Record'><a class="btn btn-primary" href="{% url 'students:student_remove' pk=student.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                        </section>
                        {% if is_paginated %}
                            <ul class="pagination">
                              {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                              {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                              {% endif %}
                              {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                              {% endfor %}
                              {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                              {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                              {% endif %}
                            </ul>
                          {% endif %}
                  </div>
                {% else %}
                <h4 style="text-align: center; font-weight: bold" > No Record found yet!</h4>
                 {% endif %}
               </div>
     </div>
{% include "footer.html" %}
        {% include "loadscript.html" %}

</div>


{% endblock %}
