{% extends 'base.html' %}
{% block title %}Student Detail{% endblock %}

{% block body_block %}
 <div id="page-wrapper">
             
 <!--BEGIN TITLE & BREADCRUMB PAGE-->
             <div class="page-title-breadcrumb option-demo">
                <div class="page-header">
                <div class="page-title mrm">Student Detail</div>
                </div>
                <hr>
                <ol class="breadcrumb page-breadcrumb">
                <li>
                <i class="fa fa-home"></i>
                <a href="{% url 'home' %}">Home</a>
                            
                </ol>
                <div class="clearfix"> </div>
            </div>
<!--END TITLE & BREADCRUMB PAGE-->
    <div class="page-content">
            <div class="col-sm-8 col-md-9">

                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li role="presentation" class="active"><a href="{% url 'students:student_list' %}">View All</a></li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <h3>{{ students_detail.name }}</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Course Enrolled</th>
                                <th>Student Subject</th>
                                <th>Remark</th>
                                <th>Update Profile</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ students_details.name }}</td>
                                    <td><a href="{% url 'courses:course_detail' pk=students_details.pk %}">{{students_details.course_name.all.0.name}}</a></td>
                                    <td>{{ students_details.subject }}</td>
                                    <td>{{ students_details.remark }}</td>
                                    <td><a class="btn btn-primary" href="{% url 'students:student_edit' pk=students_details.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>

<!--
        <div class = "row">

            <div class="col-sm-8 col-md-9">
                    <a href="{% url 'students:student_payment' %}">Click here </a><span>for Student complete detail:</span>

                    <div class="panel panel-default">
                    <div class="panel-body">

                        <h3>{{ students_detail.name }}</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Course Enrolled</th>
                                <th>Student Paid Amount</th>
                                <th>Course Actual Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{ student_payment_form.as_table }}
                                <tr>
                                    <td>{{ student_payment_form.student }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
-->

{% include "footer.html" %}
        {% include "loadscript.html" %}
        </div>

{% endblock %}
