{% extends 'base.html' %}
{% block title %}Course List{% endblock %}

{% block body_block %}
     <div id="page-wrapper">
      <!--BEGIN TITLE & BREADCRUMB PAGE-->
             <div class="page-title-breadcrumb option-demo">
                <div class="page-header">
                <div class="page-title mrm">All Available Courses</div>
                </div>
                <hr>
                <ol class="breadcrumb page-breadcrumb">
                <li>
                <i class="fa fa-home"></i>
                <a href="{% url 'home' %}">Home</a>

                </ol>
                <div class="clearfix"> </div>
            </div>
<!--END TITLE & BREADCRUMB PAGE-->
       <div class="page-content">
         <div class="col-lg-12">
             {% if object_list %}
            <div class="content-panel">

            <h4 style="text-align: center; font-weight: bold">
                Available Courses
            </h4>
            <section id ='no-more-tables'>

                        <table class="table table-bordered table-striped table-condensed cf">
                            <thead class='cf'>
                            <tr>
                                <th>Course Name</th>
                                <th>Course Monthly Fee</th>
                                <th>Course Quarterly Fee</th>
                                <th>Course Yearly Fee</th>
                                <th>Edit Course</th>
                            </tr>
                            </thead>
                            <tbody>
                              {% for course in object_list %}
                                <tr>

                                    <td data-title='Course Name'><a href="{% url 'courses:course_detail' pk=course.pk %}">{{ course.name }}</a></td>
                                    <td data-title='Course Monthly Fee'>{{ course.monthly_fee }}</td>
                                    <td data-title='Course Quarterly Fee'>{{ course.quarterly_fee }}</td>
                                    <td data-title='Course Yearly Fee'>{{course.yearly_fee}}</td>
                                    <td data-title='Edit Course'><a class="btn btn-primary" href="{% url 'courses:course_edit' pk=course.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                </tr>
                               {% endfor %}
                            </tbody>
                       </table>

                    </section>
               </div>
               {% else %}
                <h4 style="text-align: center; font-weight: bold" > No Record found yet!</h4>
                 {% endif %}
        </div>

{% include "footer.html" %}
</div>
{% include "loadscript.html" %}

</div>


{% endblock %}
