{% extends 'base.html' %}
{% block title %}Course List{% endblock %}

{% block body_block %}
     <div id="page-wrapper">
      <!--BEGIN TITLE & BREADCRUMB PAGE-->
             <div class="page-title-breadcrumb option-demo">
                <div class="page-header">
                <div class="page-title mrm">All Available Courses</div>
                </div>
                <hr>
                <ol class="breadcrumb page-breadcrumb">
                <li>
                <i class="fa fa-home"></i>
                <a href="{% url 'home' %}">Home</a>
                            
                </ol>
                <div class="clearfix"> </div>
            </div>
<!--END TITLE & BREADCRUMB PAGE-->
       <div class="page-content">
        <div class="row" >
        <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
            
            <div class="panel panel-orange">
            <div class="panel-heading">
                Available Courses
            </div>
             <div class="panel-body pan">
            
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Course Monthly Fee</th>
                                <th>Course Quarterly Fee</th>
                                <th>Course Yearly Fee</th>
                                <th>Edit Course</th>
                            </tr>
                            </thead>
                            <tbody>
                              {% for course in object_list %}
                                <tr>
                                  
                                    <td><a href="{% url 'courses:course_detail' pk=course.pk %}">{{ course.name }}</a></td>
                                    <td>{{ course.monthly_fee }}</td>
                                    <td>{{ course.quarterly_fee }}</td>
                                    <td>{{course.yearly_fee}}</td>
                                    <td><a class="btn btn-primary" href="{% url 'courses:course_edit' pk=course.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                </tr>
                               {% endfor %}
                            </tbody>
                       </table>

                    </div>
                  </div>
               </div>
        </div>
     </div>
{% include "footer.html" %}
{% include "loadscript.html" %}
     
</div>
        

{% endblock %}
