{% extends 'base.html' %}
{% block title %}Course Detail{% endblock %}

{% block body_block %}
        <div class="row">
            <div class="col-sm-8 col-md-9">

                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li role="presentation" class="active"><a href="{% url 'courses:course_list' %}">View All Course listed:</a></li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-body">

                        <h3>{{ courses_details.name }}</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Course Monthly Fee</th>
                                <th>Course Quarterly Fee</th>
                                <th>Course Yearly Fee</th>
                                <th>Edit Course</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ courses_details.name }}</td>
                                    <td>{{ courses_details.monthly_fee }}</td>
                                    <td>{{ courses_details.quarterly_fee }}</td>
                                    <td>{{ courses_details.yearly_fee }}</td>
                                    <td><a class="btn btn-primary" href="{% url 'courses:course_edit' pk=courses_details.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>



{% endblock %}
