{% load static %}
    <script src="{%static 'script/jquery-1.10.2.min.js'%}"></script>
    <script src="{%static 'script/jquery-migrate-1.2.1.min.js'%}"></script>
    <script src="{%static 'script/jquery-ui.js'%}"></script>
    <script src="{%static 'script/bootstrap.min.js'%}"></script>
    <script src="{%static 'script/bootstrap-hover-dropdown.js'%}"></script>
    <script src="{%static 'script/html5shiv.js'%}"></script>
    <script src="{%static 'script/jquery.metisMenu.js'%}"></script>
    <script src="{%static 'script/respond.min.js'%}"></script>
    <script src="{%static 'script/jquery.slimscroll.js'%}"></script>
    <script src="{%static 'script/custom.min.js'%}"></script>
    <script src="{%static 'script/jquery.cookie.js'%}"></script>
    <script src="{%static 'script/icheck.min.js'%}"></script>
    <script src="{%static 'script/jquery.news-ticker.js'%}"></script>
    <script src="{%static 'script/jquery.menu.js'%}"></script>
    <script src="{%static 'script/pace.min.js'%}"></script>
    <script src="{%static 'script/holder.js'%}"></script>
    <script src="{%static 'script/responsive-tabs.js'%}"></script>
    <script src="{%static 'script/jquery.flot.js'%}"></script>
    <script src="{%static 'script/jquery.flot.categories.js'%}"></script>
    <script src="{%static 'script/jquery.flot.pie.js'%}"></script>
    <script src="{%static 'script/jquery.flot.tooltip.js'%}"></script>
    <script src="{%static 'script/jquery.flot.resize.js'%}"></script>
    <script src="{%static 'script/jquery.flot.fillbetween.js'%}"></script>
    <script src="{%static 'script/jquery.flot.stack.js'%}"></script>
    <script src="{%static 'script/jquery.flot.spline.js'%}"></script>
    <script src="{%static 'script/zabuto_calendar.min.js'%}"></script>
    <script src="{%static 'script/index.js'%}"></script>
    <!--LOADING SCRIPTS FOR CHARTS-->
    <script src="{%static 'script/highcharts.js'%}"></script>
    <script src="{%static 'script/data.js'%}"></script>
    <script src="{%static 'script/drilldown.js'%}"></script>
    <script src="{%static 'script/exporting.js'%}"></script>
    <script src="{%static 'script/highcharts-more.js'%}"></script>
    <script src="{%static 'script/charts-highchart-pie.js'%}"></script>
    <script src="{%static 'script/charts-highchart-more.js'%}"></script>
    <!--CORE JAVASCRIPT-->
    <script src="{%static 'script/main.js'%}"></script>
